@import '~bulma';

.panel {
    max-width: 600px; 
    width: 100%;
    position: relative;
    overflow: hidden;

    .panel-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 55px;
        small {font-size: 75%}
    }

    .panel-body {
        height: calc(100vh - 110px);
        overflow: auto;
    }

    .panel-footer {
        height: 55px;
        background-color: #ededed;
    }

    .panel-block {
    border: none;
        &.me {
            justify-content: flex-end;
            .box {
                background-color: #fff9e2;
            }
        }
    }

        .box {
            padding-top: 1.5rem !important;
            display: flex;
            align-items: flex-end;
            position: relative;
            max-width: 90%;

            p {
                flex: 1;
                text-align: left;
                margin-inline-end: 1rem;
            }
    }
    
    .sender {
        position: absolute;
        top: .25rem;
        left: .5rem;
        font-weight: 700;
    }
}

.chat-form {
    display: flex;
    input + input {margin-inline-start: .25rem;}
}

.icon-remove {
    position: absolute;
    top: .25rem;
    right: .5rem;
    line-height: 20px;
}