<template>
<nav class="panel" v-if="show">
  <div class="panel-heading">
    <p>Yad2 group chat</p>
    <a href="#!" @click="toggleSidebar()"><small>Users: {{ users.length }}</small></a>
  </div>
  <div class="panel-body py-4">
    <conversation :messages="messages" :username="username" />
  </div>
  <div class="panel-footer px-4 py-2">
    <form class="chat-form" @submit.prevent="sendMessage">
      <input type="text" class="input is-rounded" placeholder="Enter your message here" v-model="msg" ref="msgField">
      <input type="submit" class="button is-success is-light is-rounded" value="SEND" :disabled="!msg">
    </form>
  </div>
  <sidebar :users="users" :username="username" :active="sidebarActive" @onToggleSidebar="toggleSidebar" />
</nav>
</template>

<script>
import Socket from './../config/socket.js'
import Conversation from './Conversation'
import Sidebar from './Sidebar'

export default {
  name: 'Board',

  components: {
    Conversation,
    Sidebar
  },

  data() {
    return {
      sidebarActive: false,
      username: 'Anonymous',
      msg: '',
      users: [],
      messages: [],
      socket: new Socket('http://localhost:3000'),
      show: false
    }
  },

  mounted() {      
    //enter username
    this.username = prompt('Enter your name')

    // join server
    this.joinServer()
  },

  methods: {

    // join server
    joinServer() {
      // handle new connected user
      this.socket.listen('connected', data => {
				this.messages = data.messages
				this.users = data.users

        // handle new user
				this.socket.fire('new-user', this.username)

        this.show = true
        
        this.$nextTick(() => {
          this.goToBottomOfConversation()
          //focus on input field
          this.$refs.msgField.focus()
        })
      })

			this.listen()
    },

    // add event listeners to socket
    listen() {

      // handle users in front

			this.socket.listen('user-online', user => {
				this.users.push(user);
			})

			this.socket.listen('user-left', user => {
				this.users.splice(this.users.indexOf(user), 1);
			})

			this.socket.listen('message-sent', message => {
				this.messages.push(message);
        this.goToBottomOfConversation()
			})

			this.socket.listen('message-deleted', message => {
				let targetMessage = this.messages.find(msg => msg._id === message._id);
        if(targetMessage)
          targetMessage.deleted = 1
			})
    },

    // send message
    sendMessage() {
      this.socket.fire('send-message', this.msg)
      this.msg = ''
    },

    // toggle sidebar
    toggleSidebar() {
      this.sidebarActive = !this.sidebarActive
    },

    // navigate to bottom of conversation chat
    goToBottomOfConversation() {
      this.$nextTick(() => {
        const el = document.getElementById('conversation')
        el.lastChild && el.lastChild.scrollIntoView(false)
      })
    }

  }
}
</script>

