<template>
    <div id="conversation">
        <div :class="['panel-block px-4 py-2 border-0', {'me' : messageByMe(message.sender)}]" v-for="(message) in messages" :key="message._id">
            <div class="box p-2">
                <a href="#!" class="icon-remove" @click="removeMessage(message._id)" v-if="messageByMe(message.sender) && !message.deleted">x</a>
                <small class="sender">{{ messageByMe(message.sender) ? 'You' : message.sender }}</small>
                <p v-html="getMessageText(message)"></p>
                <small class="date">{{ getFormattedDate(message.date) }}</small>
            </div>
        </div>
    </div>
</template>

<script>
import moment from 'moment'

export default {
    props: ['messages', 'username'],

    methods: {
        // check if I'm the sender, (logged in user)
        messageByMe(sender) {
            return this.username == sender
        },

        // get message text
        getMessageText(message) {
            if(message.deleted)
                return '<i>This message has been deleted.</i>'
            return message.msg
        },

        // formate date to time inly
        getFormattedDate(date) {
            return moment(date).format('HH:mm')
        },

        removeMessage(id) {
            let conf = confirm('Are you sure?')
            if(!conf)
                return

            this.$parent.socket.fire('delete-message', id)
        }
    }
}
</script>