<template>
    <div :class="['panel sidebar', {'active': active}]">
        <div class="panel-heading has-text-right">
            <a href="#!" @click="toggleSidebar()">X</a>
        </div>
        <div class="panel-body">
            <h3 class="has-text-left has-text-weight-bold px-2 py-4"><b> Online users:</b></h3>
            <ul>
                <li><a class="panel-block">You ({{ username }})</a></li>
                <hr>
                <li v-for="(user, index) in filteredUsers" :key="index">
                    <a class="panel-block">{{user}}</a>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    props: ['users', 'username', 'active'],

    computed: {
        filteredUsers() {
            return this.users.filter(u => u != this.username)
        }
    },

    methods: {
        toggleSidebar() {
            this.$emit('onToggleSidebar')
        }
    }
}
</script>

<style lang="scss" scoped>
    .panel.sidebar {
        position: absolute;
        top: 0;
        right: -100%;
        bottom: 0;
        max-width: 100%;
        width: 300px;
        background: #f9f9f9;
        z-index: 9;
        transition: right .3s ease;
        &.active {
            right: 0 !important;
        }
    }
</style>